$neutral-900: #1c1a19;
$neutral-800: #201e1d;
$neutral-700: #34302d;
$neutral-600: #4a4846;
$neutral-400: #bcbfbf;
$neutral-300: #dedcda;
$neutral-200: #ededed;
$neutral-100: #fbf9f7;
$neutral-0: #ffffff;

$radius-0: 0;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-full: 999px;
